@import "tailwindcss";

@theme {
  /* Purple */
  --color-purple-50: #ebe5f5;
  --color-purple-100: #d4c7ea;
  --color-purple-200: #ab94d6;
  --color-purple-300: #805cc2;
  --color-purple-400: #5a3998;
  --color-purple-500: #3a2562;
  --color-purple-600: #2e1d4e;
  --color-purple-700: #23163b;
  --color-purple-800: #180f29;
  --color-purple-900: #0b0713;
  --color-purple-950: #07040b;

  /* Dark Purple */
  --color-darkpurple-50: #e6d8f8;
  --color-darkpurple-100: #ceb1f2;
  --color-darkpurple-200: #9a5ee3;
  --color-darkpurple-300: #6b22c4;
  --color-darkpurple-400: #3e1371;
  --color-darkpurple-500: #130623;
  --color-darkpurple-600: #0e041a;
  --color-darkpurple-700: #0c0416;
  --color-darkpurple-800: #07020d;
  --color-darkpurple-900: #050109;
  --color-darkpurple-950: #020104;
}

body {
  @apply bg-darkpurple-500;
}

.sidebar {
  @apply fixed top-0 left-0 flex flex-col w-64 h-screen;
}

.container {
  @apply flex items-center flex-col h-screen m-auto p-10;
}
